// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

body {
  font-smoothing: antialiased;
  background: #eee;
  font-family: $body-stack;
}

.container {
    @include variable-container();
}

section {
    @include clearfix;
}

.no-pad-sm {
  @include media($sm-down) {
    padding: 0;
  }
}

.center {
  text-align: center;
}

.relative {
  position: relative;
}

.hidden-sm-down {
    display: none;
    @include media($sm) {
        display: table-cell;
    }
}

a {
  color: $sub-color;
}

.cf {
  @include clearfix;
}

p {
  color: $body-text-color;
}