$modular-scale-ratio: $major-second;

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading-stack;
}

//new typography rules

h1 {
    font-size: modular-scale(7);
    font-weight: 400;
    color: $off-white;
}

h2 {
    font-size: modular-scale(6);
    font-weight: 500;
    color: $off-white;
}

h3 {
    
    @include media($xs-md) {
        font-size: modular-scale(3)
    }
    
    font-size: modular-scale(3);
    font-weight: 500;
    color: $off-white;
}

h4 {
    font-size: modular-scale(2);
    font-weight: 500;//maybe 600
    color: $mid-blue;
}

h5 {
    font-size: modular-scale(1);
    font-weight: 600;
    color: $mid-blue;
}

h6 {
    font-size: modular-scale(0);
    font-weight: 600;
    color: $off-white;
    text-transform: uppercase;
}